.scroll-list {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  gap: 10px;
  /* margin-top: 26px; */
  scrollbar-width: thin;
  scrollbar-color: #0073ff #ffffff;

}

.scroll-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #007bff5e;
  padding: 10px;
  margin-bottom: 2px;
  border-radius: 8px;
}

.assignment-name {
  font-size: 16px;
  font-weight: bold;
}

.assignment-date {
  font-size: 14px;
  color: #666;
 
}

.assignment-button {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
}

.assignment-button:hover {
  background-color: #0056b3;
}


