.settings{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    
}

.tabs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 0px;
}

.tab-button {
    padding: 10px 20px;
    background: none;
    border: none;
    font-size: 1em;
    color: #666;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .tab-button.active {
    color: #007bff;
    font-weight: bold;
  }
  