.expandable-list {
    font-family: Arial, sans-serif;
  }
  
  .expandable-item {
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #00a6ff;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .item-title {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .toggle-arrow {
    font-size: 16px;
    color: #007bff;
    margin-left: 10px;
  }
  
  .item-content {
    margin-top: 10px;
    font-size: 14px;
    color: #272828d2;
  }
  
  .file-item a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
  }
  
  .file-item a:hover {
    text-decoration: underline;
  }
  